@font-face {
    font-family: myFont;
    src: url(../font/Combo-Regular.ttf);
}
body{
    background-image:url(../img/bg.jpg) ;
    background-size: cover;
    margin: 0px;
    font-family: myFont, Helvetica, sans-serif;
    background-repeat: no-repeat;
 }
 div.overlay{
     width: 100%;
     height: 753px;
     background-color: rgba(0, 0, 0, 0.1);
     
 }
 form.myform{
     width:28%;
     color: #fff;
     
     height: 200px;
     position: absolute;
     top: 100px;
     left: 280px;
     background-color: rgba(0, 0, 0, 0.6);
     border-radius: 10px; 
 }
 form h1{
     text-align: center;
 }
 